// Place all the styles related to the notes controller here.
//viewey will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.write_content{
	width:50vw;
	height:100vh;
	background-color:red;
	float:left;
}

#view_title{
	margin : 20px;
}

#view_text{
	margin-left : 20px;
}

.view_content{
	width:50vw;
	height:100vh;
	background-color:blue;
	float:left;
}

.field{
	float:left;
}

.clear{
	clear:both;
}

#title_content{
	border-color:#cccccc;	
}

#note_content{
	width:100%;
	height:100%;
	border-color:#cccccc;
}
